.registration{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    border: 2px solid red;
    border-radius: 20px;
}

.class1{
    font-size: x-large;
    text-align: center;
    height: 100vh;
}

.registration{
    background-color: #adefd1ff;
}

.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
    background: #fff;
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 0.5em 1.5em;
    font-weight: 500;
    text-transform: uppercase;
    margin: 0.5em 0;
    text-align: center;
    transition: all 0.5s ease;
}

.md-heading{
    font-size: large;
}

.text-area{
    height: 3vh;
    width: 10vw;
}

.btn-secondary:hover{
    background-color: #ff1b01;
    color: white;
}

body{
    background-color: #00203fff;
}

.text-red{
    color: red;
}

